@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8FAFC;
    --foreground: #0f172a;
    --card: #ffffff;
    --card-foreground: #0f172a;
    --primary: #2563EB;
    --primary-foreground: #ffffff;
    --muted: #64748b;
    --border: #E5E7EB;
    --success: #10B981;
    --danger: #EF4444;
    --warning: #F59E0B;
    --info: #3B82F6;
  }
}
